@import url("https://fonts.googleapis.com/css?family=Open+Sans|Raleway:700");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  color: #797979; }

header, section {
  width: 100%;
  padding: 2em 10em; }

header {
  background-image: url(../slike/background.jpg);
  background-position: top center;
  height: 50em; }
  header nav {
    width: 100%;
    background: white;
    height: 3em; }
    header nav .logo {
      float: left;
      font-family: "Raleway", sans-serif;
      font-size: 2em;
      font-weight: 700;
      padding-left: .5em; }
      header nav .logo span {
        color: #ff3720; }
    header nav ul {
      list-style: none;
      float: right;
      padding: 1em; }
      header nav ul li {
        display: inline-block;
        text-transform: uppercase;
        padding-right: 1em; }
        header nav ul li a {
          text-decoration: none; }
          header nav ul li a:hover {
            color: #f0f0f0; }
  header h1, header h2 {
    color: white;
    font-weight: 400;
    width: 50%;
    margin: 0 auto;
    text-align: center; }
  header h1 {
    margin-top: 10em;
    border-bottom: 1px solid #ff3720; }

h3 {
  text-transform: uppercase;
  text-align: center;
  padding-bottom: 5em;
  font-weight: 700; }

#catalog {
  background: #f0f0f0;
  text-align: center; }
  #catalog .container {
    width: 100%;
    white-space: nowrap; }
    #catalog .container div {
      width: 25%;
      display: inline-block;
      white-space: normal; }
      #catalog .container div img {
        width: 85%; }

button {
  margin: .5em auto;
  padding: .5em 2em;
  background-color: #ff3720;
  color: white;
  text-transform: uppercase;
  border-style: none;
  cursor: pointer; }

#pricing {
  text-align: center; }
  #pricing button {
    display: none; }
  #pricing table {
    width: 80%;
    margin: 0 auto;
    border-collapse: collapse; }
    #pricing table td, #pricing table th {
      padding: 1em 4em; }
    #pricing table th {
      background-color: #ff3720;
      color: white;
      font-weight: 700; }
      #pricing table th:first-child {
        background-color: #e42b15; }
    #pricing table tbody tr {
      border-bottom: 1px solid #797979; }
      #pricing table tbody tr td:first-child {
        background-color: #f0f0f0;
        font-weight: 700; }
      #pricing table tbody tr td:hover {
        background-color: #f0f0f0; }

#contact {
  background-color: black; }
  #contact:before, #contact:after {
    content: "";
    display: table; }
  #contact:after {
    clear: both; }
  #contact div {
    border-bottom: 1px solid #ff3720;
    font-size: 1.5em; }
    #contact div span {
      color: #ff3720; }
  #contact p, #contact iframe {
    padding: 1em; }
  #contact p {
    float: left;
    font-style: italic;
    font-size: 0.8em;
    color: #f0f0f0; }
  #contact iframe {
    float: right; }

@media screen and (max-width: 1100px) {
  header, section {
    padding: 2em; }

  #catalog .container {
    white-space: normal; }
    #catalog .container div {
      width: 48%; }

  button {
    margin-bottom: 2em; }

  #contact {
    text-align: center; }
    #contact p {
      float: none; }
    #contact iframe {
      float: none; } }
@media screen and (max-width: 800px) {
  header, section {
    padding: 2em 0; }

  header {
    background: black;
    height: auto; }
    header nav {
      height: auto; }
      header nav .logo {
        float: none; }
      header nav ul {
        float: none; }
        header nav ul li {
          text-align: center;
          display: list-item;
          padding: 1em; }
    header h1 {
      margin-top: 2em; }

  #catalog div {
    width: 100%; }

  button {
    padding: 2em 4em;
    margin-bottom: 2em; }

  #pricing table {
    display: none; }
  #pricing button {
    display: block; } }

/*# sourceMappingURL=style.css.map */
