$main_font: 'Open Sans', sans-serif;
$logo_font: 'Raleway', sans-serif;


$main_text_color: 	#797979;
$main_red: 		    #ff3720;
$dark_red:			#e42b15;
$grey_bkg:		    #f0f0f0;

$big_break: 1100px;
$small_break: 800px;